NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://localhost:27017/edutechs?replicaSet=rs0
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
CORS_ORIGINS=http://localhost:3000,http://localhost:3001

OPENAI_API_KEY=replace_with_openai_key
HF_API_KEY=

FB_VERIFY_TOKEN=replace_with_verify_token
FB_APP_SECRET=replace_with_app_secret
FB_PAGE_ACCESS_TOKEN=replace_with_page_access_token
FB_PAGE_ID=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:4000/google/callback
EMAIL_USER=
EMAIL_PASS=
